body {
    background-color: #e2e2e2;
}

img {
    width: 300px;
}

div {
    text-align: center;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #221c00
    
}

a {
    text-decoration: none;
    background-color: #ffff66;
    color: #797772;
    font-size: 36px;
    padding: 8px;
    border-radius: 20px;
}

h1,h2,h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: overline 2px ;
    
}