@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@300&display=swap');

.pagina{
    background-color:#297774;
    text-align: center;
    font-family: 'Poppins', sans-serif;


}
img {
    width: 600px;
    height: 400px;

}

p{
    background-color: #000b12;
    font-weight: bold;
    color: #28595b;
    padding: 20px;
    border-radius: 20px;
    
}

.lista {
    width: 600px;
    height: 400;
}

.caixa-lista {
    width: 600px;
    margin: auto;
}

.titulo {
    color: #0c1f33;
    text-decoration: underline;
}
